#newswatcher configuration file
#feeds="G:/Projects/newswatch/feeds.txt"
feeds="D:/viewstore/test/newswatch/feeds.txt"
#article_database="G:/Projects/newswatch/db.dat"
article_database="D:/viewstore/test/newswatch/db.dat"
#analyzis_database="G:/Projects/newswatch/analyzed_db.bat"
analyzis_database="D:/viewstore/test/newswatch/analyzed_db.bat"
watch_cycle="900"
#cookies_file="C:/Documents and Settings/JeDi.GEORGE.000/Application Data/Mozilla/Firefox/Profiles/default.i42/cookies.txt"
cookies_file="D:/Documents and Settings/michjea/Application Data/Mozilla/Firefox/Profiles/1tbctt27.default/cookies.txt"
