#newswatcher configuration file
feeds="/home/jedi/c++/newswatch/feeds.txt"
article_database="/home/jedi/c++/newswatch/db.dat"
analyzis_database="/home/jedi/c++/newswatch/analyzed_db.dat"
watch_cycle="900"
#cookies_file="/home/jedi/.mozilla/firefox/o1me3921.default/cookies.sqlite"
